<ng-container *ngIf="_gridContent">
	<div class="grid-container">
		<ng-container *ngFor="let wine of _gridContent; let i=index;">
			<div class="grid-item" (click)="navigateToGallery(i)">
				<img [src]="'https://winetrackerco.imgix.net/' + wine.photoURL + '?w=320&h=320&fit=crop'" width="100%">
				<div class="score-number">
					<span>{{ getFirstPartOfScore(wine.scoreTotal) }}<sup>.{{ getLastPartOfScore(wine.scoreTotal) }}</sup></span>
				</div>
			</div>
		</ng-container>
	</div>
</ng-container>