.grid-container {
	display: flex;
	position: absolute;
	top: 38px;
	bottom: 0;
	width: 100%;
	flex-wrap: wrap;
	align-content: flex-start;
	background-color: rgba(0,0,0,.8);
}

.grid-item {
	flex-basis: 33%;
	height: calc(33vw);
}