svg, .text-rows {
	pointer-events: none;
}

.button-container {
	display: flex;
	align-items: flex-start;
	text-decoration: none;
	font-size: 13px;
	font-weight: 300;
	width: 100%;
	min-width: 260px;
	box-sizing: border-box;
	border: 5px solid #A48D61;
	background: radial-gradient(circle at 50% 21%,#6d5e42 0,#302613 100%);
	color: rgba(255,255,255,.8);
	border-radius: 12px;
	position: relative;
	padding: 8px 0 8px 10px;
	height: 100%;
	text-align: left;
	box-shadow: inset 1px 1px 4px 0 rgba(0,0,0,.8);
	cursor: pointer;
}

svg {
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: 35px;
}

svg.past {
	position: relative;
}

svg.cellar {
	position: relative;
	top: 5%;
	left: 2px;
}

svg.wishlist {
	position: relative;
	top: 5px;
	left: 3px;
}

svg.drinkitnow {
	position: relative;
	top: 8px;
	left: 0;
}

.text-rows {
	flex-grow: 2;
	padding-left: 10px;
	padding-right: 15px;
	box-sizing: border-box;
}

.row-1 {
	font-weight: 700;
	font-size: 140%;
	padding-top: 2px;
	padding-bottom: 1px;
}

.row-1 span {
	font-weight: 300;
}

.row-2 {
	position: relative;
	top: -2px;
}

input[type=file] {
	display: block;
	background-color: rgba(255, 0, 0, 0.5);
	-webkit-appearance: none;
	appearance: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	opacity: 0.0;
}

span sup {
	font-size: 70%;
	position: relative;
	top: 2px;
}