<ng-container *ngIf="_listContent">
	<div class="list-container">
		<ng-container *ngFor="let wine of _listContent; let i=index;">
			<div class="list-item" (click)="navigateToGallery(i)">
				{{ wine.thumbnail }}
				<img [src]="'https://winetrackerco.imgix.net/' + wine.photoURL + '?w=90&h=90&fit=crop'">
				<div class="score-container">
					<span>{{ getFirstPartOfScore(wine.scoreTotal) }}<sup>.{{ getLastPartOfScore(wine.scoreTotal) || '0' }}</sup></span>
				</div>
				<div class="description-container">
					{{ wine.comment || 'comment: none' }}
				</div>
			</div>
		</ng-container>
	</div>
</ng-container>