.instructions-container {
	font-size: 20px;
	color: #ffffff;
}

.button-container {
	text-align: center;
	margin-top: 10px;
}

.button-container span {
	font-size: 13px;
	letter-spacing: 1px;
	padding-left: 10px;
	color: #ffffff;
}