.score-and-slider-values-container {
	display: flex;
}

span.score-container {
	font-size: 70px;
	width: 135px;
	text-align: right;
}

span.score-container sup {
	font-size: 35px;
}

.scoring-bars-container {
	flex-grow: 2;
	padding-top: 2px;
	padding-left: 18px;
}

.scoring-key {
	display: flex;
	font-size: 10px;
	width: 78px;
}

.scoring-key .right {
	flex-grow: 1;
}

.scoring-key .right {
	flex-grow: 1;
	text-align: right;
}

.aroma,
.taste,
.finish,
.overall {
	display: flex;
	margin-bottom: 2px;
}

.aroma .label,
.taste .label,
.finish .label,
.overall .label {
	font-size: 10px;
	flex-grow: 1;
	padding-left: 5px;
}

.bar-container {
	width: 78px;
	position: relative;
}

.bar-background {
	display: block;
	height: 8px;
	border-radius: 4px;
	position: absolute;
	background-color: #A48D61;
	width: 78px;
	top: 1px;
}

.bar-foreground {
	display: block;
	height: 6px;
	border-radius: 3px;
	position: absolute;
	background-color: #fff;
	width: 35px;
	top: 2px;
	left: 1px;
}

.date-time-stamp {
	padding: 5px 0 10px 0;
	font-size: 14px;
}

.buttons-container {
	display: flex;
	margin: 7px 0 0 0;
	padding-bottom: 12px;
}

app-icon-button {
	margin-right: 20px;
	cursor: pointer;
}

.tags-container {
	
}

.tags-section-container {
	
}

.tag-category-title {
	font-size: 17px;
	font-weight: 700;
	border-top: 1px solid #302716;
	padding-top: 6px;
	text-transform: capitalize;
}

.tags-container .outer-container {
	box-sizing: border-box;
	padding-left: 30px;
}

.tag-group-container {
	font-size: 14px;
	display: flex;
	margin: 20px 0;
}

.tag-group-title {
	font-weight: 700;
	display: flex;
	flex-direction: row;
	align-self: center;
	margin-right: 7px;
	position: relative;
	top: -1px;
	flex: 1;
	justify-content: flex-end;
	text-align: right;
}

.middle-bracket {
	width: 10px;
	height: 1px;
	background-color: #302716;
	display: flex;
	flex-direction: row;
	align-self: center;
}

.vertical-bracket {
	width: 10px;
	border-style: solid;
	border-color: #302716;
	border-width: 1px 0 1px 1px;
	display: flex;
	flex-direction: row;
	margin-right: 7px;
}

.tags-list {
	display: inline-block;
	flex: 1;
	padding: 5px 0 7px;
}

.tags-list .selected {
	font-weight: 700;
}

.tags-list .selected::before {
	content: '\27a4 \20';
}