app-nav-menu {
	display: block;
	position: fixed;
	width: 260px;
	height: 100%;
	color: #ffffff;
	box-shadow: inset -6px 6px 8px 0 rgba(0, 0, 0, 0.5);
	background-color: #302613;
	left: -260px;
	z-index: 2;
}

.main-container {
	height: 100%;
	position: relative;
	left: 0;
}