<div class="navbar-backdrop"></div>
<!-- <div data-ng-include="http://54.82.217.140:8080/modules/core/views/nav-bar-view-switcher.client.view.html" class="nav-bar-view-switcher-container"></div> -->
<div class="nav-bar-view-switcher-container" style="display:none;">
	<div class="view-switcher-container">

	</div>

	<div class="action-buttons-container" ng-controller="WinesController">
		<div class="container-for-action-buttons-container-bg">
			<div class="action-buttons-container-bg"></div>
		</div>

		<button class="button-plus-icon" data-state="closed">
			<div class="list-view-nav">
				<svg  class="list-view-svg-icon" width="41px" height="22px" viewBox="0 0 41 22" version="1.1" xmlns="//www.w3.org/2000/svg" xmlns:xlink="//www.w3.org/1999/xlink" xmlns:sketch="//www.bohemiancoding.com/sketch/ns"><g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage"><path d="M0,0 L6,0 L6,6 L0,6 L0,0 Z M8,1 L24,1 L24,5 L8,5 L8,1 Z M0,8 L6,8 L6,14 L0,14 L0,8 Z M8,9 L24,9 L24,13 L8,13 L8,9 Z M0,16 L6,16 L6,22 L0,22 L0,16 Z M8,17 L24,17 L24,21 L8,21 L8,17 Z M29,9 L41,9 L35,15 L29,9 Z" id="svg-icon-list-view" fill="#A48D61" sketch:type="MSShapeGroup"></path></g></svg>
			</div>
			<div class="grid-view-nav">
				<svg class="grid-view-svg-icon" width="39px" height="22px" viewBox="0 0 39 22" version="1.1" xmlns="//www.w3.org/2000/svg" xmlns:xlink="//www.w3.org/1999/xlink" xmlns:sketch="//www.bohemiancoding.com/sketch/ns"><g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage"><path d="M0.004,0 L6.004,0 L6.004,6 L0.004,6 L0.004,0 Z M0.004,8 L6.004,8 L6.004,14 L0.004,14 L0.004,8 Z M0.004,16 L6.004,16 L6.004,22 L0.004,22 L0.004,16 Z M8.004,0 L14.004,0 L14.004,6 L8.004,6 L8.004,0 Z M8.004,8 L14.004,8 L14.004,14 L8.004,14 L8.004,8 Z M8.004,16 L14.004,16 L14.004,22 L8.004,22 L8.004,16 Z M16.004,0 L22.004,0 L22.004,6 L16.004,6 L16.004,0 Z M16.004,8 L22.004,8 L22.004,14 L16.004,14 L16.004,8 Z M16.004,16 L22.004,16 L22.004,22 L16.004,22 L16.004,16 Z M27,9 L39,9 L33,15 L27,9 Z" id="svg-icon-grid-view" fill="#A48D61" sketch:type="MSShapeGroup"></path></g></svg>
			</div>
			<div class="gallery-view-nav">
				<svg id="icon-gallery-view" width="39px" height="23px" viewBox="0 0 39 23" version="1.1" xmlns="//www.w3.org/2000/svg" xmlns:xlink="//www.w3.org/1999/xlink" xmlns:sketch="//www.bohemiancoding.com/sketch/ns"><g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage"><path d="M2.00462606,2 L2.00462606,0 L22.0046261,0 L22.0046261,20 L20.0046261,20 L20.0046261,2 L2.00462606,2 Z M27,9 L39,9 L33,15 L27,9 L27,9 Z M18,4.00925212 L18,22.0092521 L0,22.0092521 L0,4.00925212 L18,4.00925212 Z" id="gallery-icon" fill="#A48D61" sketch:type="MSShapeGroup"></path></g></svg>
			</div>
		</button>

		<div class="sub-nodes">
			<button class="button-list-view" ng-click="switchViewState('list')">
				<svg version="1.1" class="list-view-svg-icon" xmlns="//www.w3.org/2000/svg" xmlns:xlink="//www.w3.org/1999/xlink" x="0px" y="0px" width="24px" height="22px" viewBox="0 0 24 22" enable-background="new 0 0 24 22" xml:space="preserve"><rect fill="#ffffff" width="6" height="6"></rect><rect x="8" y="1" fill="#ffffff" width="16" height="4"></rect><rect y="8" fill="#ffffff" width="6" height="6"></rect><rect x="8" y="9" fill="#ffffff" width="16" height="4"></rect><rect y="16" fill="#ffffff" width="6" height="6"></rect><rect x="8" y="17" fill="#ffffff" width="16" height="4"></rect></svg>
			</button>
			<button class="button-grid-view" ng-click="switchViewState('grid')">
				<svg version="1.1" class="grid-view-svg-icon" xmlns="//www.w3.org/2000/svg" xmlns:xlink="//www.w3.org/1999/xlink" x="0px" y="0px" width="22px" height="22px" viewBox="0 0 22 22" enable-background="new 0 0 22 22" xml:space="preserve"><rect fill="#ffffff" width="6" height="6"></rect><rect y="8" fill="#ffffff" width="6" height="6"></rect><rect y="16" fill="#ffffff" width="6" height="6"></rect><rect x="8" fill="#ffffff" width="6" height="6"></rect><rect x="8" y="8" fill="#ffffff" width="6" height="6"></rect><rect x="8" y="16" fill="#ffffff" width="6" height="6"></rect><rect x="16" fill="#ffffff" width="6" height="6"></rect><rect x="16" y="8" fill="#ffffff" width="6" height="6"></rect><rect x="16" y="16" fill="#ffffff" width="6" height="6"></rect></svg>
			</button>
			<button class="button-gallery-view" ng-click="switchViewState('gallery')">
				<svg id="icon-gallery-view" width="23px" height="23px" viewBox="0 0 23 23" version="1.1" xmlns="//www.w3.org/2000/svg" xmlns:xlink="//www.w3.org/1999/xlink" xmlns:sketch="//www.bohemiancoding.com/sketch/ns"><g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage"><g id="Fill-42-+-Fill-43-Copy" sketch:type="MSLayerGroup" transform="translate(0.000000, -1.000000)" fill="#ffffff"><path d="M0.09,5.18 L18,5.18 L18,23.09 L0.09,23.09 L0.09,5.18 Z" id="Fill-42" sketch:type="MSShapeGroup"></path><path d="M4.09,3 L4.09,21 L2.09,21 L2.09,2.5 L2.09,1 L22.09,1 L22.09,3 L4.09,3 Z" id="Fill-43" sketch:type="MSShapeGroup" transform="translate(12.090000, 11.000000) rotate(90.000000) translate(-12.090000, -11.000000) "></path></g></g></svg>
			</button>
		</div>

	</div>
	
</div>
	
<div class="page-title-container">
	<h1 class="page-title">
		{{ _title }}
	</h1>
	<div id="cellar-value-total"></div>
</div>