<app-nav-bar [navBarConfig]="_navBarContent"></app-nav-bar>

<div class="content-container">
	<div class="instructions-container">
		Choose a Tracking Option to Open the Camera
	</div>
	<div class="buttons-container">
		<app-category-button [buttonConfig]="_trackAWineButtonConfig" (click)="navigateTo('drinkitnow');"></app-category-button>
		<app-category-button [buttonConfig]="_addToCellarButtonConfig" (click)="navigateTo('addtocellar');"></app-category-button>
		<app-category-button [buttonConfig]="_addToWishlistButtonConfig" (click)="navigateTo('addtowishlist');"></app-category-button>
	</div>
</div>