<app-nav-bar [navBarConfig]="_navBarContent"></app-nav-bar>

<div class="content-container">
	<div class="instructions-container">
		Choose a Tracking Option to Open the Camera
	</div>
	<div class="buttons-container">
		<app-category-button [buttonConfig]="_trackAWineButtonConfig" (fileAdded)="navigateTo($event)"></app-category-button>
		<app-category-button [buttonConfig]="_addToCellarButtonConfig" (fileAdded)="navigateTo($event)"></app-category-button>
		<app-category-button [buttonConfig]="_addToWishlistButtonConfig" (fileAdded)="navigateTo($event)"></app-category-button>
	</div>
</div>