html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	background-color: #000000;
	height: 100%;
	overflow-x: hidden;
	max-width: 100%;
	-webkit-overflow-scrolling: touch;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

html {
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	background-color: #302613;
}

body {
	padding: 0;
	margin: 0;
	font-family: 'San Francisco', 'Helvetica Neue', Helvetica, arial, sans-serif;
	color: #302613;
	-webkit-font-smoothing: subpixel-antialiased;
	background: url(//winetrackerco.imgix.net/winetracker-background-2560x1785.jpg) center/cover no-repeat fixed;
}

html, body, .body-container {
	height: 100%;
	overflow-x: hidden;
	max-width: 100%;
	-webkit-overflow-scrolling: touch;
}

* {
	outline: none;
}

input,
textarea,
button,
select,
a,
div {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.clear {
	clear: both;
}

swiper .swiper .swiper-pagination {
	display: none !important;
}

swiper>.swiper.s-wrapper {
	box-sizing: border-box;
	padding-top: 38px;
	z-index: 0;
	background-color: rgba(0, 0, 0, 0.85);
}

swiper>.swiper.s-wrapper .swiper-wrapper .swiper-slide {
	overflow: hidden !important;
}

.swiper-button-next, .swiper-button-prev {
	color: rgb(255, 255, 255, 0.8) !important;
}

#system-message {
	background-color: red;
	border: 2px dotted #ffffff;
	border-radius: 5px;
	padding: 5px 8px;
	font-size: 14px;
	font-weight: 500;
	color: #ffffff;
	width: 270px;
	box-sizing: border-box;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}


#addToHomeScreen {
	background-color: #000000;
	color: #ffffff;
	width: 290px;
	box-sizing: border-box;
	border-radius: 6px;
	padding: 10px 20px 10px 20px;
	border: 1px solid #ffffff;
}

#login-message {
	padding-bottom: 20px;
	cursor: pointer;
}

#login-link {
	color: #59db00;
	text-decoration: underline;
	font-weight: 700;
}

.loading-icon-container {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	position: absolute;
	z-index: 100;
	top: 0;
	left: 0;
	display: none;
}

.loading-icon-container span {
	opacity: 0.8;
	color: #ffffff;
	top: 50%;
	position: absolute;
	width: 100%;
	text-align: center;
	margin-top: 35px;
	margin-left: 5px;
}

#loading-icon {
	width: 50px;
	height: 50px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -25px;
	margin-left: -25px;
}

#loading-icon .leaf {
	fill: #ffffff;
	opacity: 0;
	display: none;
}

#loading-icon #leaf-1 {
	-webkit-animation: fadeOpacity 1.0s infinite;
	-moz-animation:	fadeOpacity 1.0s infinite;
	-ms-animation:	 fadeOpacity 1.0s infinite;
	-o-animation:		fadeOpacity 1.0s infinite;
	animation:		 fadeOpacity 1.0s infinite;
	display: block;
	opacity: 0;
}

#loading-icon #leaf-2 {
	-webkit-animation: fadeOpacity 1.0s infinite;
	-moz-animation:	fadeOpacity 1.0s infinite;
	-ms-animation:	 fadeOpacity 1.0s infinite;
	-o-animation:		fadeOpacity 1.0s infinite;
	animation:		 fadeOpacity 1.0s infinite;
	-webkit-animation-delay: 0.125s;
	-moz-animation-delay: 0.125s;
	-ms-animation-delay: 0.125s;
	-o-animation-delay: 0.125s;
	animation-delay: 0.125s;
	display: block;
	opacity: 0;
}

#loading-icon #leaf-3 {
	-webkit-animation: fadeOpacity 1.0s infinite;
	-moz-animation:	fadeOpacity 1.0s infinite;
	-ms-animation:	 fadeOpacity 1.0s infinite;
	-o-animation:		fadeOpacity 1.0s infinite;
	animation:		 fadeOpacity 1.0s infinite;
	-webkit-animation-delay: 0.250s;
	-moz-animation-delay: 0.250s;
	-ms-animation-delay: 0.250s;
	-o-animation-delay: 0.250s;
	animation-delay: 0.250s;
	display: block;
	opacity: 0;
}

#loading-icon #leaf-4 {
	-webkit-animation: fadeOpacity 1.0s infinite;
	-moz-animation:	fadeOpacity 1.0s infinite;
	-ms-animation:	 fadeOpacity 1.0s infinite;
	-o-animation:		fadeOpacity 1.0s infinite;
	animation:		 fadeOpacity 1.0s infinite;
	-webkit-animation-delay: 0.375s;
	-moz-animation-delay: 0.375s;
	-ms-animation-delay: 0.375s;
	-o-animation-delay: 0.375s;
	animation-delay: 0.375s;
	display: block;
	opacity: 0;
}

#loading-icon #leaf-5 {
	-webkit-animation: fadeOpacity 1.0s infinite;
	-moz-animation:	fadeOpacity 1.0s infinite;
	-ms-animation:	 fadeOpacity 1.0s infinite;
	-o-animation:		fadeOpacity 1.0s infinite;
	animation:		 fadeOpacity 1.0s infinite;
	-webkit-animation-delay: 0.500s;
	-moz-animation-delay: 0.500s;
	-ms-animation-delay: 0.500s;
	-o-animation-delay: 0.500s;
	animation-delay: 0.500s;
	display: block;
}

#loading-icon #leaf-6 {
	-webkit-animation: fadeOpacity 1.0s infinite;
	-moz-animation:	fadeOpacity 1.0s infinite;
	-ms-animation:	 fadeOpacity 1.0s infinite;
	-o-animation:		fadeOpacity 1.0s infinite;
	animation:		 fadeOpacity 1.0s infinite;
	-webkit-animation-delay: 0.625s;
	-moz-animation-delay: 0.625s;
	-ms-animation-delay: 0.625s;
	-o-animation-delay: 0.625s;
	animation-delay: 0.625s;
	display: block;
}

#loading-icon #leaf-7 {
	-webkit-animation: fadeOpacity 1.0s infinite;
	-moz-animation:	fadeOpacity 1.0s infinite;
	-ms-animation:	 fadeOpacity 1.0s infinite;
	-o-animation:		fadeOpacity 1.0s infinite;
	animation:		 fadeOpacity 1.0s infinite;
	-webkit-animation-delay: 0.750s;
	-moz-animation-delay: 0.750s;
	-ms-animation-delay: 0.750s;
	-o-animation-delay: 0.750s;
	animation-delay: 0.750s;
	display: block;
}

#loading-icon #leaf-8 {
	-webkit-animation: fadeOpacity 1.0s infinite;
	-moz-animation:	fadeOpacity 1.0s infinite;
	-ms-animation:	 fadeOpacity 1.0s infinite;
	-o-animation:		fadeOpacity 1.0s infinite;
	animation:		 fadeOpacity 1.0s infinite;
	-webkit-animation-delay: 0.875s;
	-moz-animation-delay: 0.875s;
	-ms-animation-delay: 0.875s;
	-o-animation-delay: 0.875s;
	animation-delay: 0.875s;
	display: block;
}

@-webkit-keyframes fadeOpacity {
	0%	 { opacity: 0; }
	10% { opacity: 1; }
	100% { opacity: 0; }
}
@-moz-keyframes fadeOpacity {
	0%	 { opacity: 0; }
	10% { opacity: 1; }
	100% { opacity: 0; }
}
@-ms-keyframes fadeOpacity {
	0%	 { opacity: 0; }
	10% { opacity: 1; }
	100% { opacity: 0; }
}
@-o-keyframes fadeOpacity {
	0%	 { opacity: 0; }
	10% { opacity: 1; }
	100% { opacity: 0; }
}
@keyframes fadeOpacity {
	0%	 { opacity: 0; }
	10% { opacity: 1; }
	100% { opacity: 0; }
}


app-nav-bar {
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 38px;
}


app-slide-up-panel {
	position: fixed;
	top: 100%;
	width: 100%;
	height: 100%;
}


@font-face {
	font-family: "San Francisco";
	font-weight: 100;
	src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.woff");
}

@font-face {
	font-family: "San Francisco";
	font-weight: 200;
	src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.woff");
}

@font-face {
	font-family: "San Francisco";
	font-weight: 300;
	src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-light-webfont.woff");
}

@font-face {
	font-family: "San Francisco";
	font-weight: 400;
	src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

@font-face {
	font-family: "San Francisco";
	font-weight: 500;
	src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.woff");
}

@font-face {
	font-family: "San Francisco";
	font-weight: 600;
	src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff");
}

@font-face {
	font-family: "San Francisco";
	font-weight: 700;
	src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff");
}

@font-face {
	font-family: "San Francisco";
	font-weight: 800;
	src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-heavy-webfont.woff");
}

@font-face {
	font-family: "San Francisco";
	font-weight: 900;
	src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-black-webfont.woff");
}